{% extends './base.html' %}

{% block content %}

{% if object_list %}
    <div class="wrap-note">
        <div class="note">         
            <div class="note-list">
                <ul>
                    {% for obj in object_list %}
                    <li>
                        <a href="{% url 'page-detail' obj.id %}">
                            <div class="date">
                                <span>{{obj.dt_created|date:"d"}}</span>
                                <p>{{obj.dt_created|date:"M"}}</p>
                            </div>
                            <h2>{{obj.title}}</h2>
                            <div class="score">
                                <p>감정점수</p>
                                <span>{{obj.score}}점</span>
                            </div>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% else %}
    <div class="wrap-default">
        <div class="default">
            <div class="default-box">
                <p>"오늘 하루는 어땠나요? 당신의 하루를 들려주세요"</p>
                <a href="{% url 'page-create' %}">일기쓰기</a>
            </div>
        </div>
    </div>
{% endif %}

{% endblock content %}